    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
    }

    h2 {
      padding: 10px;
      margin: 0;
      background-color: #eee;
      border-bottom: 1px solid #ccc;
    }

    .table-container {
      resize: both;
      overflow: auto;
      border: 2px solid #888;
      width: 90vw;
      height: 90vh;
      min-width: 300px;
      min-height: 200px;
      margin: 20px;
    }

 

    table {
      width: 100%;
      border-collapse: collapse;
      /* table-layout: fixed; */
      table-layout: auto; /* Enable responsive cell width */
    }


    th, td {
      border: 1px solid #ccc;
      padding: 5px;
      text-align: left;
      vertical-align: top;
      word-wrap: break-word; /* Legacy */
      word-break: break-word;
      white-space: normal;
    }

    thead {
      position: sticky;
      top: 0;
      background-color: #f9f9f9;
      z-index: 1;
    }

    .sort-controls {
      cursor: pointer;
      font-size: 12px;
      margin-left: 3px;
    }
    .active {
      font-weight: bold;
      color: blue;
    }